doctype html
html
  head
doctype html
html
  head
    link(rel="stylesheet" href="/xterm.css")
    script(src="/terminal-client-bundled.js")

    script.

      var options = !{options};

      document.addEventListener('DOMContentLoaded', function() {

            document.getElementById('terminal').style.backgroundColor = options.theme.background ? options.theme.background : 'rgb(0,0,0)';

            startTerminal(
            		'terminal',
            		options.id,
            		`${window.location.protocol.replace('http', 'ws')}//${window.location.host}/websocket`,
            		options.cmd,
            		options.cwd,
            		options.theme
            );

      });

    style.
      html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
      }
      #terminal {
        height: 100%;
        width: 100%;
      }
  body
    div#terminal




